{extends '../@layout.latte'}

{block content}

<a n:href="Home:default" class="btn btn-secondary">Zpět</a>

<table class="table">
  <tr n:foreach="$calculations as $calculation">
    <td ><p>{$calculation['firstNumber']}/{$calculation['secondNumber']}={$calculation['thirdNumber']}</p></td>
  </tr>
</table>